
{% trans_default_domain 'FOSUserBundle' %}

<div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}
</div>


<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p>{{ 'Derniére connexion'|trans }}: {{ user.lastLogin|date('d-m-Y') }}</p>
    <img src="{{ asset('uploads/users/'~user.id~'/'~user.path) }}" width="100" height="100" alt>

</div>

<button class="btn btn-danger" onclick="location.href='{{ url('fos_user_change_password') }}'"> Changer mot de pass</button>
<button class="btn btn-primary" onclick="location.href='{{ url('fos_user_profile_edit') }}'"> Editer profile</button>
