{% extends '::base.html.twig' %}
{% block body %}

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-comments"></i>Gestion alert </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                        <a href="javascript:;" class="reload"> </a>
                        <a href="javascript:;" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body">

                    <table class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                        <tr>
                            <th> # </th>
                            <th> Type d'alert </th>
                            <th> Date </th>
                            <th> Ligne </th>
                            <th> Emplacement </th>
                            <th> Description </th>
                            <th> Details </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for alert in alerts %}
                        <tr class={{ alert.type }}>
                            <td> {{ alert.id }} </td>
                            <td> {{ alert.type }} </td>
                            <td> {{ alert.date|date('Y-m-d') }} </td>
                            <td> {{ alert.block }} </td>
                            <td> {{ alert.emplacement }} </td>
                            <td> {{ alert.description }} </td>
                            <td>
                                <a href="javascript:;" onclick="fonctiondetail({{alert.machine.id }})" class="btn dark btn-sm btn-outline sbold uppercase ">
                                    <i class="fa fa-share"></i> View </a>



                                <div class="btn-group">
                                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-left" role="menu">
                                        <li>
                                            <a href="javascript:;">
                                                <i class="icon-bell"></i> notifier</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="icon-shield"></i> ignorer</a>
                                        </li>
                                    </ul>
                                </div>

                            </td>
                        </tr>
                            {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>

    <div id="in"></div>

{% endblock %}