<li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <i class="icon-bell"></i>
        <span class="badge badge-default"> {{ count }}</span>
    </a>
    <ul class="dropdown-menu">
        <li class="external">
            <h3>
                <span class="bold">{{ count }} pending</span> notifications</h3>
            <a href='{{ path('alert') }}'>view all</a>
        </li>
        <li>
            <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                {% for notification in notifications %}
                <li>
                    <a href='{{ path('alert') }}'>

                        <span class="details">
                            {% if notification.type=="active" %}
                                                        <span class="label label-sm label-icon label-info">
                                                            {% else %}
                                                            <span class="label label-sm label-icon label-{{ notification.type }}">
                                                                {% endif %}
                                                                <i class="fa fa-bell-o"></i>
                                                        </span> {{ notification.description }} </span>
                    </a>
                </li>
                {% endfor %}

            </ul>
        </li>
    </ul>
</li>